#promain{
    width: 100%;
    float: left;
    height: 100vh;
    background-image: url("../images/homebg.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    /* margin: 10px; */
    overscroll-behavior-y: none;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    top: 0;

}
/* #blur{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.445);
} */
#sidenav{
  float: left;
  width: 15%;
  height: 100vh;
  background-color: white !important;
}
#hlo{
  background-color: transparent !important;
}
.rs-sidenav-item{
  background-color: transparent !important;
}
#contmain{
  width: 85%;
  height: 100vh;
  float: left;
}
.profile {
    width: 600px;
    /* margin: 20px auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* background-image: url("../images/hbg.jpg"); */
  }
  
  .profile-header {
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .profile-name {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    color: black;
  }
  
  .profile-form {
    padding: 20px;
    color: black;
    /* box-shadow: black; */
  }
  
  .profile-field {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .profile-label {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .profile-input {
    width: 300px;
    height: 30px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }
  
  .profile-button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .profile-button:hover {
    background-color: #3e8e41;
  }